.buttonStyle {
  width: 10rem;
  height: 2rem;

  border-radius: 10px;
  border: none;

  margin-top: 10px;

  text-align: center;
  background-color: var(--blue-twitter);
  color: #fff;

  transition: 0.2s;
}

.buttonStyle:hover {
  filter: brightness(0.9);
  color: black;
}