.pageContainer {
  width: 30rem;

}

.formContainer {
  display: flex;
  justify-content: flex-end;

}

.signButton {
  height: 1.8rem;
  width: 4rem;

  text-align: center;

  color: white;
  background-color: var(--blue-twitter);

  border-radius: 8px;
  border: none;

  transition: 0.2s;
}

.signButton:hover {
  filter: brightness(0.9);
  color: var(--title)
}


