.pageContainer {
  width: 30rem;
}

.formContainer {
 padding: 10px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;
  border-radius: 8px;
  background-color:#f2f3f5;
  padding: 20px;
  
}

.formContainer button {
  width: 10rem;
  height: 2rem;

  border-radius: 10px;
  border: none;

  margin-top: 6px;

  text-align: center;
  background-color: #4cd62b;
  color: #fff;

  transition: 0.2s;
}

.formContainer button:hover {
  filter: brightness(0.9);
  color: black;
}

.formContainer input {
  border: none;
  border-radius: 8px;

  text-align: center;

}

