.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  width: 40rem;

  border-radius: 8px;
  background-color: yellowgreen;
  
}
