.container {
  display: flex;
  justify-content: center;

  padding: 2rem;
  background-color: var(--background);
}

.homeContainer {
  display: flex;
  align-items: center;
}


@media (max-width: 1024px) {
  .homeContainer {
    width: 90%;
  }
}

@media(max-width: 650px) {
  .homeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  
    flex-direction: column-reverse;
  }
  .container section:nth-child(1) {
/*       
    display: none; */
  }
  .group {
    border: 1px solid transparent;
  }
}